<!DOCTYPE html>
<html lang="en" ng-app="meaganApp" ng-controller="SearchCtrl"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <base href="/">
  <title>Meagan Sievers</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/angular-material/angular-material.css">
  <link rel="stylesheet" href="main.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
</head>
<body>
  <md-sidenav class="md-sidenav-right nav" md-component-id="right" md-disable-backdrop>
    <md-content>
        <a ng-click="toggleNav()" style="margin-left:auto"><i class="fa fa-times hamburger"></i></a>
        <md-button href="/" ng-click="toggleNav()">HOME</md-button>
        <md-button href="gifs" ng-click="toggleNav()" >GIFS</md-button>
        <md-button href="photos" ng-click="toggleNav()" >PHOTOS</md-button>
        <md-button href="contact" ng-click="toggleNav()" >CONTACT</md-button>
    </md-content>
</md-sidenav>
    <md-content layout = "column" flex>
        <div layout="row" class="header" layout-padding flex>
            <a ng-click="toggleNav()" style="margin-left:auto"><i class="fa fa-bars hamburger"></i></a>
        </div>
        <div ng-view></div>
  </md-content>

<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-aria/angular-aria.js"></script>
<script src="bower_components/angular-messages/angular-messages.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-material/angular-material.js"></script>
<script src="app.js"></script>
<script src="controllers/search.js"></script>
</body>
</html>
