* {
  flex-shrink: 0;
  flex-basis: auto;
}

@font-face {
    font-family: 'Poppins', sans-serif;
}

md-content {
    min-height: calc(100vh - 176px);
    background-color: #5F4F91;
    padding: 50px;
    height: 100%;
}

html {
    font-family: 'Poppins', sans-serif;
}

input {
    font-family: 'Poppins', sans-serif;
}

a {
    color: white;
}

body {
   background-color: #B1A8CE;
}

h1, h2, h3, h4, h5 {
  margin-top: 5px;
  margin-bottom: 5px;
}

p {
  font-size: 12px;
  padding: 0.5em;
  text-align: left;
}

::-moz-selection {
    background-color: deeppink;
}

::selection {
    background-color: deeppink;
}

.meagan {
    font-size: 100px;
    font-weight: bold;
    color: #5F4F91;
    text-align: center;
    text-shadow: -3px 3px 0 #B1A8CE;
    display: none;
}

.meagan.sievers {
    animation: fadein 2s 1;
}

.header-txt {
    font-size: 50px;
    font-weight: bold;
    color: white;
    margin-bottom: 50px;
    width: 100%;
    text-align: center;
}

.header {
    max-height: 100px;
}

.footer {
    height: 50px;
}
.line {
    border: 2px solid #B1A8CE;
}

h1 {
    font-size: 50px;
    color: white;
    width: 100%;
    margin-top: 50px;
}

.intro {
    font-size: 22px;
    color: white;
    width: 80%;
    font-weight: 400;
}

.tiny-txt {
    font-size: 10px;
    float:right;
    padding: 10px;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

md-input-container .md-input {
    color: white;
    border-color: #FFDC73 !important;
}

md-input-container label {
    color: white;
}

md-input-container:not(.md-input-invalid).md-input-focused label {
    color: #FFDC73;
}

.md-button {
    height: 30px;
    background-color: #FFDC73;
    color: #5F4F91;
    margin-top: 20px;
    font-weight: bold;
    margin-right: 100px;
    box-shadow: -3px 3px 0 #B1A8CE;
    margin-left: auto;
    margin-right: auto;
}

.md-button:hover {
    font-style: italic;
    background-color: #B1A8CE !important;
    box-shadow: -3px 3px 0 #FFDC73;
}

.search-input {
    margin-right: 20px;
    margin-left: auto;
}

.gif-image {
    height: 150px;
    width: 250px;
    margin: 20px;
}

.gif-display {
    flex-wrap: wrap;
    margin-left: 50px;
    width: 85%;
}

.contact label {
    color: white;
    font-style: italic;
    margin: 5px;
    font-weight: bold;
}

.contact input {
    border-bottom: 5px solid;
    background-color: white;
    height: 50px;
    color: black;
    font-size: 20px;
}

.contact textarea.md-input {
    border-bottom: 5px solid;
    background-color: white;
    min-height: 100px;
    color: black;
}

.contact-btn {
    height: 50px;
    width: 108px;
    font-size: 16px;
    margin-right: auto;
}

.hamburger {
    color: white;
    font-size: 3em;
    margin-left: auto;
}

.hamburger:hover {
    animation: jiggle 2s infinite;  
    cursor: pointer;
}

.social-icon {
    color: white;
    font-size: 3em;
    margin: 15px;
    text-align: center;
}

.social-icon:hover {
    animation: jiggle 2s infinite;  
    cursor: pointer;
}

.bounceInDown {
   animation-name: noshow, bounceInDown;
   animation-duration: 3s;
   animation-iteration-count: 1;
   animation-timing-function: ease-out;
   opacity: 1;
}

.bounceInDown.first {
     animation-delay: 0s, 0s;
}

.bounceInDown.second {
     animation-delay: 0s, .5s;
}

.bounceInDown.third {
     animation-delay: 0s, 1s;
}

.bounceInDown.fourth {
     animation-delay: 0s, 1.5s;
}

.bounceInDown.fifth {
     animation-delay: 0s, 2s;
}

.bounceInDown.sixth {
     animation-delay: 0s, 2.5s;
}

.nav {
    width: 100%;
    max-width: 100%;
    background-color: #B1A8CE;
}

.nav .md-button {
    width: 100%;
    background-color: #B1A8CE;
    font-size: 50px;
    color: #5F4F91;
    height: 75px;
    padding: 5px;
    padding-top: 20px;
}

.nav .md-button:hover {
    background-color: #B1A8CE !important;
    font-style: italic;
    box-shadow: -3px 3px 0 #B1A8CE;
    color: #FFDC73;
}

.nav .hamburger {
    float: right;
    padding: 20px;
    color: #5F4F91;
}

.nav .hamburger:hover{
    color: #FFDC73;
}

.nav md-content {
   background-color: #B1A8CE;
}

.photos {
    margin: 50px;
}

.photos .image-cell {
    display: inline-block;
    margin: .5em;
}

.photos img {
    max-width: 100%;
}

.photos h2 {
    color: white;
}

.photos a {
    font-size: 18px;
}

@keyframes jiggle {
    0% {
        transform: rotate(-30deg);
        }
    50% {
        transform: rotate(30deg);
    }
}

@keyframes noshow
{ 
    from { opacity: 0; } to { opacity: 0 }
}

@keyframes bounceInDown {
    0%{
      opacity: 0;
      transform: translateY(-2000px);
   }
   60% {
      opacity: 1;
      transform: translateY(30px);
   }
   80% {
     opacity: 1;
      transform: translateY(-10px);
   }
   100% {
      opacity: 1;
      transform: translateY(0);
   }
    
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@media screen and (max-width: 992px) {
    .resp-text {
        font-size: 75px;
    }
    .resp-icon {
        font-size: 2em;
    }
}

@media screen and (max-width: 600px) {
    .resp-text {
        font-size: 40px;
    }
    .resp-icon {
        font-size: 2em;
    }
}


/*photos responsive*/
@media screen and (min-width: 1000px) {
  .photos .image-cell {
    width: calc(100% / 3);
  }
}

@media screen and (min-width: 600px) {
  .photos .image-cell {
    width: calc(50% - 2rem);
  }
}

@media screen and (min-width: 1000px) {
  .photos .image-cell {
    width: calc(33.3333% - 2rem);
  }
}