<div layout="column">
<div layout="row" flex>
    <h1 class="meagan bounceInDown first resp-text">M</h1>
    <h1 class="meagan bounceInDown second resp-text">E</h1>
    <h1 class="meagan bounceInDown third resp-text">A</h1>
    <h1 class="meagan bounceInDown fourth resp-text">G</h1>
    <h1 class="meagan bounceInDown fifth resp-text">A</h1>
    <h1 class="meagan bounceInDown sixth resp-text">N</h1>
    <h1 class="meagan sievers resp-text">Sievers</h1>
</div>
<div layout="row" flex>
    <h1>Meagan Sievers</h1>
</div>
<div layout="row" flex>
    <p class="intro" flex>Hi 👋 I'm Meagan and I live in New York City. I'm an SEO, web developer, creator, and interneter. Sometimes I <a href="https://www.distilled.net/about/people/meagan-sievers/" target="_blank">write things.</a> I also like taking <a href="photos">photographs</a> with my fancy camera—mostly of tavel and NYC.</p>
</div>
<div layout="row" class="line"></div>
<div layout="row">
    <a href="https://www.twitter.com/mmeagann" target="_blank"><i class="fab social-icon fa-twitter resp-icon"></i></a>
    <a href="https://www.instagram.com/meagansieve"  target="_blank"><i class="fab social-icon fa-instagram resp-icon"></i></a>
    <a href="https://www.linkedin.com/in/meagan-sievers"  target="_blank"><i class="fab social-icon fa-linkedin-in resp-icon"></i></a>
    <a href="mailto:meagansievers@gmail.com" target="_blank"><i class="fas social-icon fa-at resp-icon" ></i></a>
</div>
</div>