<div class="photos" layout="column">
    <div class="collection">
    <h2>Coney Island</h2>
    <div class="image-cell">
        <img draggable="false" style="" src="https://lightroom.adobe.com/v2c/spaces/874ae0e9c780473fbd88ba855c54b65c/assets/092607ea8e154423908d17c3ba68da15/revisions/efe2e5cadc914bd882df60149eaa68a9/renditions/eb1dd3f2586c3a50febc8ee14ea2fca4">
    </div>
    <div class="image-cell">
        <img draggable="false" style="" src="https://lightroom.adobe.com/v2c/spaces/874ae0e9c780473fbd88ba855c54b65c/assets/44fc3d24a077434ea2fe0e706064d369/revisions/ce873aa5dae949c3823b6ecba8cc88fe/renditions/06b5ed1a0ed2e961ef7683a72497f48f">
    </div>
    <div class="image-cell">
        <img draggable="false" style="" src="https://lightroom.adobe.com/v2c/spaces/874ae0e9c780473fbd88ba855c54b65c/assets/f3e28d72b1154280be658a00b0786c72/revisions/7555b7f9a5144369bf30423c2b723d83/renditions/9e27677a11881667d363ddd805754653">
    </div>
        <p><a href="https://adobe.ly/2LZgubD" target="_blank">See More</a></p>
    </div>
</div>